@tailwind base;
@tailwind components;
@tailwind utilities;

#loadingIndicator {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
    margin: 20px auto;  /* Centers horizontally and adds spacing */
    /* Removed position: fixed, top, left, and transform */
}

.hidden {
    display: none;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Existing CSS for the modal is in index.html using Tailwind classes. Modify the inner modal container for mobile screens: */
@media (max-width: 640px) {
    .movie-card {
        max-width: 90%;
        margin-left: auto;
        margin-right: auto;
      }
  /* #movieDetailsModal > div {
    width: 95%;
    max-height: 95vh;
    overflow-y: auto;
    margin: 0 10px;
  } */
}

.backButton{
    background-color: #222936;
}
.backButton:hover{
    background-color: #56708f;
}


